<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<center><h1 th:text="${title}" style="padding-top:100px">Default Title</h1></center>

<div th:replace="fragments :: page-header"></div>

<form method="post" style="max-width:600px;" th:object="${puppy}">

    <div class="form-group">
        <label th:for="name">Name: </label>
        <input class="form-control" th:field="*{name}" />
        <div th:if="${#fields.hasErrors('name')}" class="error" th:errors="*{name}">Incorrect Name</div>
    </div>

    <div class="form-group">
        <label th:for="birthday">Birthday: </label>
        <input class="form-control" type="date" value="MM/DD/YYYY" min="2001-07-20" max="2018-12-31"
               th:field="*{birthday}" th:text="${birthday}"/>
        <div th:if="${#fields.hasErrors('birthday')}" class="error" th:errors="*{birthday}">Incorrect Birthday</div>
    </div>

    <div class="form-group">
        <label th:for="breed">Breed: </label>
        <select class="form-control" th:field="*{breed}">
            <option th:value="AKITA">Akita</option>
            <option th:value="AUSTRALIAN_SHEPARD">Australian Shepard</option>
            <option th:value="BEAGLE">Beagle</option>
            <option th:value="BOXER">Boxer</option>
            <option th:value="BULLDOG">Bulldog</option>
            <option th:value="CHIHUAHUA">Chihuahua</option>
            <option th:value="CHOW_CHOW">Chow Chow</option>
            <option th:value="DACHSHUND">Dachshund</option>
            <option th:value="FRENCH_BULLDOG">French Bulldog</option>
            <option th:value="GERMAN_SHEPARD">German Shepard</option>
            <option th:value="GREAT_DANE">Great Dane</option>
            <option th:value="MIXED_MUTT">Mixed/Mutt</option>
            <option th:value="PITBULL">Pitbull</option>
            <option th:value="POINTER">Pointer</option>
            <option th:value="POMERANIAN">Pomeranian</option>
            <option th:value="POODLE">Poodle</option>
            <option th:value="PUG">Pug</option>
            <option th:value="LABRADOR">Retriever - Labrador</option>
            <option th:value="GOLDEN">Retriever - Golden</option>
            <option th:value="ROTTWEILER">Rottweiler</option>
            <option th:value="SAMOYED">Samoyed</option>
            <option th:value="SIBERIAN_HUSKY">Siberian Husky</option>
            <option th:value="SHIH_TZU">Shih Tzu</option>
            <option th:value="WELSH_CORGI">Welsh Corgi</option>
            <option th:value="YORKSHIRE_TERRIER">Yorkshire Terrier</option>
            <option th:value="OTHER">Other</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="size">Size: </label>
        <select class="form-control" th:field="*{size}">
            <option th:value="Small">Small (less than 15 lbs)</option>
            <option th:value="Medium">Medium (16-35 lbs)</option>
            <option th:value="Large">Large (greater than 36 lbs)</option>
        </select>
    </div>

    <div class="form-group">
        <label th:for="description">Description: </label>
        <p><textarea name="message" rows="10" cols="30" th:field="*{description}"></textarea></p>
        <div th:if="${#fields.hasErrors('description')}" class="error" th:errors="*{description}">
            Incorrect Description</div>
    </div>

    <input type="hidden" th:value="${puppy.id}" name="puppyId" />
    <input type="submit" value="Add Puppy" />

</form>

</body>
</html>