<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}" style="padding-top:100px">Default Title</h1>

<div th:replace="fragments :: page-header"></div>

<form th:object="${editForm}" method="post" style="max-width:500px;">
    <div class="form-group">
        <label th:for="name">Name</label>
        <input th:field="*{name}" />
        <div th:errors="*{name}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="email">Email</label>
        <input th:field="*{email}" />
        <div th:errors="*{email}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="description">Description</label>
        <input th:field="*{description}" />
        <div th:errors="*{description}" class="error"></div>
    </div>
    <div class="form-group">
        <label th:for="dogParkLocation">Dog Parks:</label>
        <select class="form-control" th:field="*{dogParkLocation}">
            <option th:value="BLUE_DOG_POND">Blue Dog Pond</option>
            <option th:value="DENNY_PARK">Denny Park</option>
            <option th:value="DR_JOSE_RIZAL_PARK">Dr. Jose Rizal Park</option>
            <option th:value="GENESEE_PARK">Genesee Park</option>
            <option th:value="GOLDEN_GARDENS">Golden Gardens</option>
            <option th:value="I5_COLONNADE">I-5 Colonnade</option>
            <option th:value="KINNEAR_PARK">Kinnear Park</option>
            <option th:value="MAGNOLIA_MANOR_PARK">Magnolia Manor Park</option>
            <option th:value="MAGNUSON_PARK">Magnuson Park</option>
            <option th:value="NORTHACRES_PARK">Northacres Park</option>
            <option th:value="PLYMOUNTH_PILLARS">Plymouth Pillars</option>
            <option th:value="REGRADE_PARK">Regrade Park</option>
            <option th:value="WESTCREST_PARK">Westcrest Park</option>
            <option th:value="WOODLAND_PARK">Woodland Park</option>
        </select>
    </div>
    <input type="submit" value="Update" />
</form>

</body>
</html>