<!DOCTYPE html>
<html lang="en" xmlns:th="https//www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}" style="padding-top:100px">Default Title</h1>

<form method="post" style="max-width:600px;" th:object="${searchForm}">
    <select class="form-control" th:field="*{breed}">
        <option th:value="Seattle">Seattle</option>
        <option th:value="Renton">Renton</option>
        <option th:value="Bellevue">Bellevue</option>
        <option th:value="Redmond">Redmond</option>
        <option th:value="Mercer Island">Mercer Island</option>
        <option th:value="Lynwood">Lynwood</option>
    </select>
    <input type="submit" value="Search" />
</form>

<hr />

<table class="table">

    <tr>
        <th>Name</th>
        <th>Age</th>
        <th>Location</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:href="/home/viewprofile/{${user.id}}" th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.location}"></td>
    </tr>
</table>


</body>
</html>