<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}" style="padding-top:100px">Default Title</h1>

<div th:replace="fragments :: page-header"></div>

<center><h2 th:text="${user.name}"></h2></center>

    <label>Age:</label><p th:text="${user.age}"></p>

    <label>Favorite Dog Park:</label><p th:text="${user.dogParkLocation}"></p>

    <label>About Me:</label>
        <p th:text="${user.description}"></p>


    <div th:switch="${userId}">
        <p th:case="${currentUserId}"></p>
        <p th:case="${userId}"><h4><a th:href="@{/playdate/add/{userId}(userId=${userId})}">
            Schedule a Playdate!</a></h4></p>
    </div>

<label><h2>My Puppies</h2></label>

<p th:unless="${puppies} and ${puppies.size()}">No puppies added.</p>

    <table class="table">

        <tr>
            <th>Name</th>
            <th>Birthday</th>
            <th>Breed</th>
            <th>Description</th>
        </tr>

        <tr th:each="puppy : ${puppies}">
            <td th:text="${puppy.name}"></td>
            <td th:text="${#dates.format(puppy.birthday, 'MM/dd/yyyy')}"></td>
            <td th:text="${puppy.breed}"></td>
            <td th:text="${puppy.description}"></td>
        </tr>

    </table>

<label><h2>My Past Playdates</h2></label>

    <p th:unless="${pastPlaydates} and ${pastPlaydates.size()}">No past playdates scheduled.</p>

        <table class="table">

            <tr>
                <th>Date and Time</th>
                <th>Location</th>
                <th colspan="2">Participants</th>
                <th>Message</th>
            </tr>

            <tr th:each="pastPlaydate : ${pastPlaydates}">
                <td th:text="${#dates.format(pastPlaydate.date, 'MM/dd/yyyy, hh:mm a')}"></td>
                <td th:text="${pastPlaydate.dogParkLocation}"></td>
                <td th:each="user : ${pastPlaydate.users}" th:text="${user.name}"></td>
                <td th:text="${pastPlaydate.description}"></td>
            </tr>

        </table>

</body>
</html>